<!-- Client Check In Modal -->
<header class="hl_header nav-shrink --call-in">
    <div class="container-fluid">
      <select class="selectpicker hl_header--picker" data-width="fit"
        data-header="Switch Location <a href='#'>View Locations</a>">
        <option data-content="<img src='./img/img-converse.png'> Converse Store #32">Converse Store #32</option>
        <option data-content="<img src='./img/img-nike1.png'> Nike Store, 49 Garnet Stream, Baja, CA">Nike Store, 49
          Garnet Stream, Baja, CA</option>
        <option
          data-content="<img src='./img/img-nike2.png'> Nike Store, Andersen Center 83b, West 82nd Street, San Francisco, CA">
          Nike Store, Andersen Center 83b, West 82nd Street, San Francisco, CA</option>
      </select>
      <div class="hl_call-bar --in">
        <div class="call-type">
          <i class="icon icon-arrow-up-2"></i>
          <p>In</p>
        </div>
        <div class="hl_call-bar--inner">
          <div class="caller-id">
            <h4>Shaun Clark</h4>
            <p>HighLevel Company</p>
          </div>
          <div class="call-buttons">
            <button type="button" class="btn btn-circle"><i class="icon icon-mic-off"></i>
            </button>
            <button type="button" class="btn btn-circle btn-arrows"><i class="icon icon-arrows-up-down"></i>
            </button>
            <div class="call-dial dropdown --no-caret">
              <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="icon icon-dots"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <div class="dial-numbers">
                  <div class="dial-item">
                    <a href="#" class="number">1</a>
                  </div>
                  <div class="dial-item">
                    <a href="#" class="number">2</a>
                    <span class="letters">ABC</span>
                  </div>
                  <div class="dial-item">
                    <a href="#" class="number">3</a>
                    <span class="letters">DEF</span>
                  </div>
                  <div class="dial-item">
                    <a href="#" class="number">4</a>
                    <span class="letters">GHI</span>
                  </div>
                  <div class="dial-item">
                    <a href="#" class="number">5</a>
                    <span class="letters">JKL</span>
                  </div>
                  <div class="dial-item">
                    <a href="#" class="number">6</a>
                    <span class="letters">MNO</span>
                  </div>
                  <div class="dial-item">
                    <a href="#" class="number">7</a>
                    <span class="letters">PQRS</span>
                  </div>
                  <div class="dial-item">
                    <a href="#" class="number">8</a>
                    <span class="letters">TUV</span>
                  </div>
                  <div class="dial-item">
                    <a href="#" class="number">9</a>
                    <span class="letters">WXYZ</span>
                  </div>
                  <div class="dial-item">
                    <a href="#" class="number">*</a>
                  </div>
                  <div class="dial-item">
                    <a href="#" class="number">0</a>
                  </div>
                  <div class="dial-item">
                    <a href="#" class="number">#</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="call-actions">
          <p class="call-time">00:00:14</p>
          <button type="button" class="btn btn-circle-sm btn-danger btn-call"><i class="fas fa-phone"></i>
          </button>
          <button type="button" class="btn btn-info btn-xs btn-next-lead">Call next Lead <i
              class="icon icon-arrow-right-2"></i>
          </button>
        </div>
      </div>
    </div>
  </header>