.workflow_card--add {
    &.start {
        &:before {
            height: 55px;
            border-left: 2px solid #a8cade;
            top: -55px;
        }
    }
}

.flow_start {
    &.start{
        margin-bottom: 15px;
    }
}