<navbar></navbar>
<client-checkin></client-checkin>
<recent-activities></recent-activities>
<review-link-modal></review-link-modal>
<section class="hl_wrapper nav-shrink d-flex">
  <section class="hl_wrapper--inner workflow" id="workflow">
    
    <!--Workflow operation happens in the below tree component-->
    <tree></tree>
    <workflow-sidebar></workflow-sidebar>
    <client-checkin-modal></client-checkin-modal>
  </section>
</section>


<!-- ======================= Outdated Browser (Supports IE10 & Above) ======================= -->
<div id="outdated" aria-hidden="true">
  <h5>:(</h5>
  <h6>Your browser is out-of-date!</h6>
  <p>This website is built using latest technologies. Unfortunately your browser doesn't support those. Please update
    your browser to view this website correctly. Thank you.<a id="btnUpdateBrowser" href="http://outdatedbrowser.com/"
      target="_blank">Update my browser now </a>
  </p>
</div>
<!-- ================================= END: Outdated Browser ================================ -->